@import "tailwindcss";

:root {
  /* Light Mode Colors */
  --background-primary: #eff8ef;
  --background-secondary: #f0f9f0;
  --foreground-primary: #1a1a1a;
  --foreground-secondary: #4a4a4a;
  --accent-primary: #308732;
  --accent-secondary: #40a843;
  --accent-hover: #267228;
  --error: #dc2626;
  --warning: #f59e0b;
  --success: #059669;
  --border: #000000;
  --input-background: #2d2d2d;
  --shadow: rgba(0, 0, 0, 0.1);
  --card-bg: #d4ffd7;
}

[class="dark"] {
  /* Dark Mode Colors */
  --background-primary: #1a1a1a;
  --background-secondary: #2d2d2d;
  --foreground-primary: #ffffff;
  --foreground-secondary: #a3a3a3;
  --accent-primary: #40b144;
  --accent-secondary: #4cc350;
  --accent-hover: #348937;
  --error: #ef4444;
  --warning: #f97316;
  --success: #10b981;
  --border: #404040;
  --input-background: #ffffff;
  --shadow: rgba(0, 0, 0, 0.25);
  --card-bg: #1a1a1a;
}

body {
  background-color: var(--background-primary);
  color: var(--foreground-primary);
}
